/* CSS cho bảng sinh viên */
#studentTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  #studentTable th,
  #studentTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  /* CSS cho biểu đồ phân phối điểm số */
  #scoreDistributionChart {
    width: 300px;
    height: 300px;
    margin: 20px auto;
  }
  
  /* CSS cho thông tin thống kê */
  .stats-info {
    margin-bottom: 20px;
  }
  
  .stats-info h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .stats-info p {
    font-size: 14px;
    margin: 0;
  }
